* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --bg: #f4f4f4;
  --text: #333;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
  padding: 20px;
}

h1 {
  font-size: clamp(1.2rem, 5vw, 2.5rem);
  text-align: center;
  transition: all 300ms ease-in;
}

p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
}

.wrapper {
  width: clamp(20rem, 90vw, 69rem);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid-item {
  border: 1px solid firebrick;
}
.grid-item img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --text: #fcfcfc;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media (hover: hover) and (pointer: fine) {
  h1:hover {
    background-color: aqua;
  }
}
