* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "sidebar main main main advertisement"
    "footer footer footer footer footer";
}

.header {
  grid-area: header;
  background-color: aqua;
  padding: 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 a {
  text-decoration: none;
  color: #000;
}
.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.header nav ul li a {
  color: #000;
  text-decoration: none;
}

.sidebar {
  grid-area: sidebar;
  background-color: tomato;
  height: 100vh;
  padding: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.advertisement {
  background-color: brown;
}

.main {
  grid-area: main;
  background-color: lightgreen;
  padding: 10px;
  font-size: 18px;
}

.footer {
  grid-area: footer;
  background-color: blueviolet;
  padding: 10px;
  font-size: 18px;

  display: grid;
  place-items: center end;
  justify-content: end;
  align-content: space-between;
}
