:root {
  --default-transition: cubic-bezier(0.3, 0.96, 0.58, 0.65);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #f4f4f4;
  --text: #333;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(270deg, #1c0f52, #0e1f55, #e38203);
  background-size: 300% 300%;
  animation: gradientMove 5s ease infinite alternate;
  color: var(--text);
  line-height: 1.6;
  padding: 20px;
}

h1 {
  text-align: center;
  transition: color 300ms var(--default-transition) 3s;
  animation: fade 2s ease forwards infinite;
}

h1:hover {
  color: orange;
}

p {
  text-align: center;
}

.box {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  margin: 0 auto;
  animation: bounce 1s var(--default-transition) forwards infinite;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0b0f14;
    --text: #e9eef3;
  }
  body {
    background: linear-gradient(270deg, #605297, #0e1f55, #246d92);
    animation: gradientMove 5s ease infinite alternate;
  }
}

@keyframes bond {
  0% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(100deg);
    background-color: red;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
    background-color: red;
  }
}

.loader {
  border: 8px solid #ddd;
  border-top: 8px solid #ed05e5;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 44.8px;
  height: 44.8px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(71, 75, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid #474bff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
